*.swp
*.rdb
*.DS_Store
.project
.idea/*
.metadata/*
.emacs.desktop
.emacs.desktop.lock
log/*
tmp/*
db/structure.sql
db/schema.rb
public/system
public/stylesheets
coverage/*
coverage.data
rerun.txt
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
!.gitkeep
